// Place all the styles related to the api/v1/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stacks-dashboard {
  width: 100%;
  height: 95%;

  margin-top: 10px;

  .content {
    width: 90%;
    height: 100%;
    margin-left: 5%;
  }

  #stack-details-box {
    height: 90%;

    margin: 10px auto;

    border-radius: 5px;

    background: rgba(255, 255, 255, 0.9);

    position: relative;
  }

  #stack-visualization {
    width: 80%;
    height: 100%;

    background: rgba(236, 240, 241, 1.0);

    padding: 1%;

    overflow-y: scroll; 

    float: left;


    .title {
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;

      margin: 20px 0;
    }
  }

  .stack-sidebar {
    width: 20%;
    height: 100%;

    background: rgba(22, 160, 133, 0.8);

    color: rgba(255,255,255,0.4);
    font-size: 13px;

    padding: 10px;

    float: right;

    overflow-y: scroll;

    position: relative;

    .section {
      margin-bottom: 20px;

      text-transform: uppercase;

      .title {
        font-size: 15px;
      }

      label {
        display: block;
      }

      input[type="checkbox"] {
        margin-right: 5px;
      }
    }
  }

  .visualization-layer {
    border-top: 1px dotted rgba(0,0,0,0.1); 
    border-bottom: 1px dotted rgba(0,0,0,0.1);

    padding: 5px 0 5px 0;

    position: relative;

    .layer-title {
      position: absolute;
      bottom: 0px;
      right: 0px;

      text-transform: uppercase;

      color: rgba(100, 100, 100, 0.4);
      font-size: 12px;
    }

    .info {
      width: 100%; /* where is the extra 1% margin or padding coming from - 80% + 20% is somehow overflowing */
      display: inline-block;
      text-align: center;

      .hostname { }

      .property {
        font-size: 9px;
        color: rgba(127, 140, 141,1.0);
      }
    }
  }

  .instances {
    display: inline-block;
    margin-bottom: 12px;
  }

  .instance {
    width: 160px;
    min-height: 90px;

    text-transform: uppercase;
    color: rgba(100, 100, 100, 1.0);

    display: inline-block;

    margin: 2.5px 10px 2.5px 0px;

    padding: 15px 5px 5px 5px;

    border-radius: 4px;

    font-size: 12px;   

    -webkit-box-shadow: 7px 4px 20px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    7px 4px 20px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         7px 4px 20px 0px rgba(50, 50, 50, 0.2);

    &.online {
      /* border: 1px solid rgba(39, 174, 96, 0.2); */
      background: rgba(46, 204, 113, 0.4);
    }

    &.pending {
      background: rgba(46, 204, 113, 0.4);
    }

    &.stopping {
      /* border: 1px solid rgba(211, 84, 0,  0.2); */
      background: rgba(142, 68, 173,  0.4);
    }

    &.stopped {
      /* border: 1px solid rgba(192, 57, 43, 0.2); */
      background: rgba(192, 57, 43, 0.4);
    }

    &.elb-instance {
      /* border: 1px solid rgba(142, 68, 173,  0.2); */
      background: rgba(142, 68, 173,  0.4);
    }
  }

}

.clearfix {
  clear: both;
}

.styled-select select {
  border: 0 !important; /* remove border */
  -webkit-appearance: none; /* remove default chrome/safari style */
  -moz-appearance: none; /* remove default firefox style */
  background: rgba(255, 255, 255, 0.5);
  background-position: 80px 8px;
  
  padding: 5px;

  cursor: pointer;

  width: 230px;
  height: 40px;
}

.styled-select {
  overflow: hidden;
  width: 200px;
  height: 40px;

  border-radius: 5px;

  background: url(/assets/down-arrow.png) no-repeat right;
}

.loading-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  padding-top: 20%;
  padding-left: 25%;

  z-index: 1;

  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Lobster', cursive;
}

button#image-downloader {
  border-radius: 5px;

  background: url(/assets/camera-32-32.png) no-repeat center;
  width: 32px;
  height: 32px;

  border: none;

  position: absolute;
  top: 10px;
  left: 10px;

  z-index: 1;
}

/* 
  overlayed on top of the stack-visualization div.
  should be same width as stack-visualization div
 */
#flashscreen {
  height: 100%;
  width: 80%;

  background: url(/assets/camera-256-256.png) no-repeat center;
  
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  z-index: 1;
}
