// Place all the styles related to the api/v1/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stacks-dashboard {
  width: 100%;
  height: 95%;

  margin-top: 10px;

  .content {
    width: 90%;
    height: 100%;
    margin-left: 5%;
  }

  .stack-details-box {
    height: 90%;

    margin: 10px auto;

    border-radius: 5px;

    background: rgba(255, 255, 255, 0.9);
  }

  .stack-visualization {
    width: 80%;
    height: 100%;

    background: rgba(236, 240, 241, 1.0);

    padding: 1%;

    float: left;

    .title {
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;

      margin: 20px 0;
    }
  }

  .stack-sidebar {
    width: 20%;
    height: 100%;

    background: rgba(22, 160, 133, 0.8);

    color: rgba(255,255,255,0.6);
    font-size: 10px;
    text-transform: uppercase;

    padding: 10px;

    float: right;
  }

  .visualization-layer {
    border-top: 1px dotted rgba(0,0,0,0.1); 
    border-bottom: 1px dotted rgba(0,0,0,0.1);

    padding: 5px 0 5px 0;

    position: relative;

    .layer-header {
      width: 10%;
      display: inline-block;

      text-transform: uppercase;
      color: rgba(0,0,0,0.7);
      
      .layer-title {
        position: absolute;
        bottom: 0px;

        color: rgba(100,100,100,0.6);
      }
    }

    .info {
      width: 84%; /* where is the extra 1% margin or padding coming from - 80% + 20% is somehow overflowing */
      display: inline-block;
    }
  }

  .instances {
    margin: 0 auto;
    /* background: rgba(100,100,100,0.2); */

    display: inline-block;
  }

  .instance {
    width: 120px;
    height: 90px;

    text-transform: uppercase;
    color: rgba(100, 100, 100, 1.0);

    display: inline-block;

    margin-right: 20px;
    padding: 30px 5px 5px 5px;

    font-size: 12px;

    &.online {
      background: rgba(39, 174, 96, 1.0);
    }

    &.stopped {
      background: rgba(192, 57, 43,  0.6);
    }

    &.elb-instance {
      background: rgba(142, 68, 173,  0.6);
      margin: 0 auto;
    }

    &.stopping {
      background: rgba(211, 84, 0,  0.6);
    }
  }

}

.clearfix {
  clear: both;
}

select {
  border: 0 !important; /* remove border */
  -webkit-appearance: none; /* remove default chrome/safari style */
  -moz-appearance: none; /* remove default firefox style */
  background: rgba(255,255,255,0.4);
  background-position: 80px 8px;

  width: 10%;
  min-width: 230px;
  height: 5%;
  min-height: 40px;

  text-indent: 0.01px;
  text-overflow: "";
  text-align: center;
  padding-left: 10px;

  cursor: pointer;

  color: #1455a2;
}