// Place all the styles related to the api/v1/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stacks-dashboard {
  width: 100%;
  height: 100%;

  margin-top: 10px;

  .content {
    width: 90%;
    height: 100%;
    margin-left: 5%;
  }

  .stack-details-box {
    height: 90%;

    margin: 20px auto;  

    border-radius: 5px;

    background: rgba(255, 255, 255, 0.9);
  }

  .stack-visualization {
    width: 80%;
    height: 100%;

    background: rgba(236, 240, 241,1.0);

    float: left;

    .title {
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;

      margin: 20px 0;
    }
  }

  .stack-sidebar {
    width: 20%;
    height: 100%;

    background: rgba(52, 73, 94,1.0);

    float: right;
  }

  .visualization-layer {
    border-bottom: 1px solid rgba(0,0,0,0.15);

    .title {
      width: 20%;
      float: right;
    }
  }

  .instance {
    width: 100px;
    height: 100px;

    text-transform: uppercase;

    display: inline-block;

    &.online {
      background: rgba(39, 174, 96, 1.0);
    }

    &.stopped {
      background: rgba(192, 57, 43,1.0);
    }
  }

}