<%= content_for :title, "OpsWorks Visualization - Version 2" %>

<!--
      TODO: Don't have selectedStack directly referenced from templates. Make it more generic by just referencing a stack
      passed into the directive. Then reference "stack" that is passed in as "data"
-->

<div class="stacks-dashboard">
  <div class="content">

    <!-- ToDo: Default dropdown to first loaded stack -->
    <div class="styled-select">
      <select ng-model="selectedStack" ng-options="stack.name for stack in stacks"></select>
    </div>

    <div stack-details-box></div>

  </div>
</div>