<%= content_for :title, "OpsWorks Visualization - Version 2" %>

<!--
      TODO: Don't have selectedStack directly referenced from templates. Make it more generic by just referencing a stack
      passed into the directive. Then reference "stack" that is passed in as "data"
-->

<!-- Templates -->
<script type="text/ng-template" id="stackdetailsboxtemplate.html">
  <div class="stack-details-box">
    
      <div class="stack-visualization">
        
          <!-- Visualization Title -->
          <div class="title">{{selectedStack.name}}</div>
          <!-- ELBs -->
          <div ng-repeat="elb in selectedStack.elbs" class="elb visualization-layer">

            <div class="info">
              <div class="instances">
                <div class="elb-instance instance">
                    {{elb.name}}
                </div>
              </div>
            </div>

              <div class="layer-header">
                  <div class="layer-title">{{elb.name}}</div>
              </div>
          </div>

          <!-- Layers -->
          <!-- How to: Have an attribute 'checked' for each element (elb, layer, instance) and only
          display if the element is checked in the sidebar -->
          <div ng-repeat="layer in selectedStack.layers" class="layer visualization-layer" ng-show="layer.checked">

              <!-- TODO: Use a conditional statement to set the class instead of including instance.status as the class, since it''s more opaque (the connection between ) Layer: Info -->
              <div class="info">
                  <div class="instances">
                      <div ng-repeat="instance in layer.instances" class="instance {{instance.status}}">
                          {{instance.hostname}}
                      </div>
                  </div>
              </div><!-- end of info -->

              <!-- Layer: Title -->
              <div class="layer-header">
                  <div class="layer-title">{{layer.name}}</div>
              </div>

          </div><!--  end of layer -->
      </div><!-- end of stack visualization -->

    <stack-sidebar/>

  </div>
</script>

<script type="text/ng-template" id="stacksidebartemplate.html">
  <div class="stack-sidebar">
    <label ng-repeat="layer in selectedStack.layers">
    <!-- TODO: Add checkboxes on right and toggle displays accordingly-->
      <input type="checkbox" ng-model="layer.checked" ng-init="layer.checked=true">{{layer.name}}</input>
    </label>
  </div>
</script>

<!--  -->
<div class="stacks-dashboard"><!-- Dropdown menu for stacks -->
  <div class="content">

    <!-- ToDo: Default dropdown to first loaded stack -->
    <select ng-model="selectedStack" ng-options="stack.name for stack in stacks"></select>

    <!-- Individual Display for a stack -->
    <div stack-details-box></div>

    <!-- Stack Info Bar -->
  </div>
</div>