<%= content_for :title, "OpsWorks Visualization" %>

<div class="stacks-container">

	<div ng-repeat="stacks in splitStacks"><!-- Display Stacks -->
		<div ng-repeat="stack in stacks" class="stack-info-container" style="width: {{100/numPartitions}}%">
			<div class="info-row title">{{stack.name}}</div>

			<!-- Display ELB -->
			<div ng-repeat="elb in stack.elbs" class="elb info-row">
				ELB: {{elb.name}}
				<div data-details-box object="{{elb}}"></div>
			</div><!-- /Display ELB -->

			<!-- Display Layers -->
			<div ng-repeat="layer in stack.layers" class="layer info-row">
				<span>LAYER: {{layer.name}}</span>
				<div data-details-box object="{{layer}}"></div>

				<!-- Display Instances for each Layer -->
				<div class="instances">
					<span ng-repeat="instance in layer.instances" ng-class="instance.status" class="instance">
						{{instance.hostname}}
						<div data-details-box object="{{instance}}"></div>
					</span>
				</div><!-- Display Instances -->

			</div><!-- /Display Layers -->

		</div>

	</div><!-- /Display Stacks -->

</div>