<%= content_for :title, "OpsWorks Visualization - Version 2" %>

<!--
      TODO: Have directive reference a passed in stack as opposed to "selectedStack"
      that way, they can be used in more places if needed
-->

<div class="stacks-dashboard">
  <div class="loading-overlay" ng-show="loading">
      Fetching Info from OpsWorks API <img src="/assets/loading-icon.gif">
  </div>

  <div class="content">
    <div class="styled-select">
      <select ng-model="selectedStackId" ng-options="stack.id as stack.name for stack in stacks | orderBy:'name'" ng-change="loadStackInfo(selectedStackId)">
        <option value="" selected>--Please select a stack--</option>
      </select>
    </div>

    <div stack-details-box></div>

  </div>
</div>
