  <div class="stack-sidebar">
    <!-- Only show the different sections (elb/layer/instance toggle sections)
    if there's currently a selected stack. otherwise, keep them hidden -->
    <div class="section" ng-show="selectedStack">
      <div class="title">ELBs ({{selectedStack.elbs.length}}):</div>
      <label ng-repeat="elb in selectedStack.elbs">
        <input type="checkbox" ng-model="elb.checked" ng-init="elb.checked=true">
            {{elb.name}}
        </input>
      </label>
    </div>

    <div class="section" ng-show="selectedStack">
      <div class="title">Layers ({{selectedStack.layers.length}}):</div>
      <label ng-repeat="layer in selectedStack.layers">
        <input type="checkbox" ng-model="layer.checked" ng-init="layer.checked=true">
            {{layer.name}}
        </input>
      </label>
    </div>

    <div class="section" ng-show="selectedStack">
      <div class="title">Instances ({{selectedStack.instances.length}}): </div>
      <label ng-repeat="instance in selectedStack.instances">
        <input type="checkbox" ng-model="instance.checked" ng-init="instance.checked=true">
            {{instance.hostname}}
        </input>
      </label>
    </div>

    <div class="section" ng-show="selectedStack">
      <div class="title">Instance Details:</div>
      <label ng-repeat="property in optionalInstanceProperties">
        <input type="checkbox" ng-model="instancePropertiesVisibility[property]">
          {{property}}
        </input>
      </label>
    </div>

  </div>
  