<h1>Listing stacks</h1>

<table id="stacks-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Hostname</th>
    <th>Default os</th>
    <th>Default az</th>
    <th>Elbs</th>
    <th>Instances</th>
    <th>Layers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Stack</a>