/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	background: url("wild_flowers.png");
	background-size: 100%;
	height: 100%;
	width: 100%;
}

/* visualization - home/index */
.details-box-old {
	position: absolute;

	top: 10px;
	left: 10px;

	background: rgba(0, 0, 0, 0.7);
	padding: 10px;

	color: rgba(255, 255, 255, 0.9);
	font-size: 11px;
	
	width: 200px;
	border-radius: 2px;

	opacity: 0;
}

.details-box-old:hover {
	opacity: 1;
}

.stacks-container-old {
	border-spacing: 10px 10px;
	display: table;
	table-layout: fixed;

	width: 100%;
}

.stack-info-container-old {
	background: rgba(255, 255, 255, 0.9);
	
	max-width: 225px;
	display: table-cell;

	text-transform: uppercase;
	font-size: 12px;
	color: rgba(0,0,0,0.6);
}

.info-row-old {
	border-bottom: 1px solid rgba(0,0,0,0.08);
	padding: 10px 0 10px 10px;

	line-height: 15px;
}

.info-row-old:hover {
	background-color: rgba(0,0,0,0.1);
}

.title-old {
	padding: 30px 0 30px 0;
	text-align: center;
	font-weight: bold;

	background: rgba(0,0,0,0.02);
}

.layer-old {
	width: 100%;
	display: table;
	border-spacing: 0;

	position: relative;
}

.elb-old {
	position: relative;
}

.instances-old {
	display: table;
	width: 98%;

	font-size: 9px;

	position: relative;
}

.instance-old {
	display: table-cell;

	position: relative;
}

.instance-old:hover {
	opacity: 0.7;
	cursor: pointer;
}

.online-old {
	border-bottom: 2px solid rgba(46, 204, 113, 0.5);
}

.stopped-old {
	border-bottom: 2px solid rgba(231, 76, 60, 0.5);
}