// Place all the styles related to the visualizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.visualization-canvas {
	width: 82%;
	height: 100%;
	float: left;
}

.stack-node {
	background: rgba(150,150,150, 0.3);
	height: 50px;
	width: 50px;
	border-radius: 25px;
	/*margin-left: 50%;
	margin-top: 25%;*/
	margin-left: 10px;
}