// Place all the styles related to the visualizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.visualization-canvas {
	width: 100%;
	height: 100%;
}

.stack-container {
	/* background: rgba(189, 195, 199, 1.0); */
	background: white;
	min-height: 400px !important;
	width: 23%;
	height: 48%;
	margin: 1%;
	border-radius: 3px;

	/* Overriding bootstrap defaults */
	margin-top: 10px;

	float: left;

	.stack-title {
		font-weight: light;
		font-size: 13px;
	}

}

#sidebar {
	overflow: scroll;	
	background: #222;
	height: 100vh;
}

#main-body {
	overflow: scroll;
	height: 95vh;
}

.bar {
	margin-bottom: 5px;
	position: relative;

	margin-left: 0 !important;
	margin-right: 0 !important;

	background: rgba(0,0,0,0.02);
	border-left: 5px solid white;
	border-right: 5px solid white;

	font-size: 9px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;

	.title {
		width: 100%;
	}
}

.instance {
	border-right: 4px solid rgba(0, 0, 0, 0.1);

	&.elb {
		background: rgb(52, 152, 219);
		opacity: 1.0;
	}

	&.layer {
		/* TODO: Figure out how to display Layer name while still being able to mouse over individual instances - register the mouseover event on the element underneath */
		background: rgba(149, 165, 166, 1.0); /* light gray - 'concrete' */
		display: inline-block;
		margin: 0;
	}

	&.stopped {
		background: rgb(231, 76, 60);
		opacity: 0.6;
	}

	&.online {
		background: rgb(46, 204, 113);
		opacity: 0.6;
	}

	.info {
		display: none;
	}
	
}

.instance:hover {
	cursor: pointer;
	opacity: 0.9;
}

.info-box {
	word-wrap: break-word; /* CSS3 */
	padding-top: 50px;
	color: rgba(255,255,255,0.5);
}