// Place all the styles related to the visualizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.visualization-canvas {
	width: 100%;
	height: 100%;
}

.stack-container {
	/* background: rgba(189, 195, 199, 1.0); */
	background: white;
	min-height: 250px !important;
	width: 250px;
	height: 48%;
	margin: 1%;
	border-radius: 3px;

	/* Overriding bootstrap defaults */
	margin-top: 10px;

	float: left;

	.stack-title {
		font-weight: light;
		font-size: 13px;
	}
}

.bar {
	margin-bottom: 5px;

	.title {
		z-index: -1;
		position: absolute;
		text-align: center;
		color: rgba(0, 0, 0, 0.5);
	}
}

.instance {

	border-right: 4px solid rgba(0, 0, 0, 0.1);

	&.elb {
		background: rgb(52, 152, 219);
		opacity: 1.0;
	}

	&.layer {
		/* TODO: Figure out how to display Layer name while still being able to mouse over individual instances - register the mouseover event on the element underneath */
		background: rgba(149, 165, 166, 1.0); /* light gray - 'concrete' */
	}

	&.stopped {
		background: rgb(231, 76, 60);
		opacity: 0.7;
	}

	&.online {
		background: rgb(46, 204, 113);
		opacity: 0.7;
	}

	.info {
		display: none;
	}
	
}

.instance:hover {
	cursor: pointer;
	opacity: 1.0;
}

#info-hover-box {
	position: absolute;
	background: rgba(189, 195, 199,1.0);
	max-width: 200px;
}